* {
    font-family: system-ui, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    border-style: none;
    border-color: var(--bs-yellow);
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 3;
}

.navbar-brand {
    color: #ffa952 !important;
    font-size: 25px;
}

.navbar-toggler {
    background: #ffa952 !important;
    color: var(--bs-white) !important;
}

.col {
    padding: 8px 18px;
}

#searchbox {
    height: 32px;
    border-color: #ffa952;
}

#searchbutton {
    height: 32px;
    background: var(--bs-white);
    border-color: #ffa952;
}

#searchbutton .material-icons {
    color: rgb(255, 169, 82);
    border-color: var(--bs-white);
}

#sign-in {
    height: 32px;
    margin-left: 0px;
    background: #ffa952;
    font-size: 13px;
    width: 85px;
    margin: 5px;
    text-align: center;
}

.px-4 {
    background: var(--bs-white);
}

.display-5 {
    color: rgb(255, 169, 82);
}

.d-grid .btn {
    background: rgb(255, 169, 82);
    border-style: none;
    width: auto;
    font-size: 14px;
    height: auto;
}

.features-boxed {
    background: #ffa952;
    margin-bottom: 3%;
}

.box h3 {
    color: var(--bs-white) !important;
}

.description {
    color: var(--bs-white) !important;
}

.learn-more {
    color: var(--bs-white);
    border-color: var(--bs-white);
}

.learn-more:hover {
    color:var(--bs-white);

}

.footer-basic {
    margin-bottom: 3%;
    height: 85px;
    border-top: 1px solid #E8E8E8
}

.list-inline-item {
    font-size: 14px;
}
