* {
    font-family: system-ui, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    border-style: none;
    border-color: var(--bs-yellow);
}

@media screen and (max-width: 700px) {
    .onlyDesktopSees {
        display: none;
    }
}

.navbar-brand {
    color: #ffa952 !important;
    font-size: 25px;
}

.navbar-toggler {
    background: #ffa952 !important;
    color: var(--bs-white) !important;
}

.col {
    padding: 8px 18px;
}

#searchbox {
    height: 32px;
    border-color: #ffa952;
}

#searchbutton {
    height: 32px;
    background: var(--bs-white);
    border-color: #ffa952;
}

#searchbutton .material-icons {
    color: rgb(255, 169, 82);
    border-color: var(--bs-white);
}

#sign-out {
    height: 32px;
    margin-left: 0px;
    background: #ffe79a;
    color: #ffa952 !important;
    font-size: 13px;
    width: 85px;
    margin: 5px;
    text-align: center;
}

#profile-name {
    height: 32px;
    margin-left: 0px;
    background: #ffa952;
    font-size: 13px;
    width: 85px;
    margin: 5px;
    text-align: center;
}

.row {
    margin-top: 5%;
    margin-bottom: 0;
}

#restoName {
    margin-top: 5px;
    font-weight: 700;
}

.text-right {
    margin-top: 3%;
}

.text-right p {
    font-size: 20px;
    color: #ffa952;
    font-weight: bolder;
    margin-bottom: 10px;
}

.text-right button img.image-left {
    width: 20px;
    height: 20px;
    transform: rotate(270deg) translateX(2px);
}

.text-right button img.image-right {
    width: 20px;
    height: 20px;
    transform: rotate(90deg) translateX(-2px);
}

.text-right h5 {
    margin-top: 25px;
}

#validate {
    float: right;
    background: #ffe79a;
    color: #ffa952;
    border-color: #ffe79a;
    margin-right: 30px;
    font-size: 12px;
    padding: 5px 10px;
}

#uploadimage {
    float: right;
    background: #ffa952;
    color: var(--bs-white);
    border-color: #ffa952;
    margin-right: 30px;
    font-size: 12px;
    padding: 5px 13px;
}

.row .col-sm-4 {
    width: 95%;
    height: 60%;
    margin-top: 5%;
    margin-bottom: 25px;
}

.col-sm-4 h6 {
    padding-left: 5px;
    margin-top: 8px;
}

.col-sm {
    border: solid 3px #ffa952;
    border-radius: 10px;
    margin-bottom: 3%;
    padding-left: 3%;
    padding-bottom: 2%;
}

.col-sm .material-icons {
    color: #ffa952;
}

.material-icons {
    font-size: 15px;
}

#contact {
    font-size: 15px;
}

#hours {
    font-size: 15px;
}

#price {
    font-size: 15px;
}

#location {
    font-size: 15px;
}

#myImg {
    margin-top: 15px;
    width: 100%;
    height: 400px;
    object-fit: fill;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

#galleryGroup {
    display: flex;
    overflow: scroll;
    width: 100%;
    height: 30%;
    background-color: #ffa952;
    padding-top: 3%;
}

#galleryimage {
    width: 48%;
    height: 90%;
    object-fit: fill;
    margin: 5px;
    cursor: pointer;
}

/* --------------------- The modal stylesheet ---------------------- */

#myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    /* Hidden by default */
    /*position: fixed;*/
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.884);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    margin-top: 7%;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

button {
    border: none;
}

/* ----------------- clickable gallery style ----------------------- */
#galleryimage:focus {
    border: 2px white solid;
}

#galleryimage:hover {
    opacity: 0.5;
}

.footer-basic {
    margin-bottom: 3%;
    height: 85px;
    border-top: 1px solid #E8E8E8
}

.list-inline-item {
    font-size: 14px;
}

@media (max-width: 500px) {
    .text-right p {
        font-size: 22px;
    }

    #validate {
        float: right;
        background: #ffe79a;
        color: #ffa952;
        border-color: #ffe79a;
        margin-right: 5px;
        margin-top: 5px;
        font-size: 12px;
        padding: 5px 7px;
    }

    #uploadimage {
        float: right;
        background: #ffa952;
        color: var(--bs-white);
        border-color: #ffa952;
        margin-right: 5px;
        margin-top: 5px;
        font-size: 12px;
        padding: 5px 10px;
    }

    .text-right h5 {
        font-size: 16px;
        margin-top: 40px;
    }
}